.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* Container for max width on results page */
.container {
  width: 90%;
  max-width: 500px; 
  margin: 0 auto;
}

.result-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.result-page p {
  font-size: clamp(24px, 5vw, 40px); /* scales with screen width */
  margin-bottom: 15px;
  margin-top: 10px;
}

.result-logo {
  margin-top: 50px;
  margin-left: -15px;
  height: 100px;
}

.map-container {
  width: 100%;
  height: auto; 
  aspect-ratio: 16 / 9; 
  margin-top: 0px;
  margin-bottom: 20px;
  border-radius: 30px;
  overflow: hidden;
}

.result-page p.result-description {
  font-size: 1.2rem;
  width: 100%;
  text-align: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
