
@font-face {
    font-family: 'AppleGaramond';
    src: url('../assets/fonts/apple_garamond/AppleGaramond-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
/* Food Prompt CSS */
.home-prompt {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #FFFF; /* Dark green background */
    color: black;
    font-family: 'AppleGaramond', serif;
  }
  
  .question {
    font-size: 48px;
    margin-bottom: 20px;
  }
  
  .button-container {
    display: flex;
    gap: 120px; /* Space between buttons */
  }
  
  .choice-button {
    background: none;
    border: none;
    color: black;
    font-size: 40px;
    cursor: pointer;
    font-family: 'AppleGaramond', serif;
  }
  
  .choice-button:hover {
    text-decoration: underline;
  }
  