.container {
  width: 90%;
  max-width: 500px;
  margin: 0 auto;
}

.question-image {
  max-width: 150px; 
  height: auto;
  margin-bottom: 0px;
}

/* Center everything */
.question-prompt {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: white; 
  color: black;
  font-family: 'AppleGaramond', serif;
  text-align: center;
}

/* Styling for the question text */
.question-text {
  font-size: 2.0rem;
  margin-top: 0px;
  margin-bottom: 50px;
}

.question-buttons-list {
  display: flex;
  flex-direction: row;
  grid-template-columns: 1fr 1fr;
  /* gap: 20px 0px; */
  width: 100%;
  max-width: 700px;
  margin: 0 auto;

}

/* Button styling */
.dynamic-button {
  background: none;
  border: none;
  color: black;
  font-size: 1.7rem;
  font-family: 'AppleGaramond', serif;
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start; /* Align text to the left */
  padding-left: 40px; /* Space for the asterisk */
  padding-right: 40px;
}

/* Asterisk on the left */
.dynamic-button::before {
  content: "";
  position: absolute;
  left: 0;
  font-size: 3rem; /* Large asterisk */
  color: black;
  transition: opacity 0.2s ease-in-out;
  opacity: 0; /* Hidden by default */
}

/* Show asterisk on hover */
.dynamic-button:hover::before {
  content: "*";
  opacity: 1;
}

/* Columns stacked vertically */
.left-column, .right-column {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 20px;
}

.align-left {
  display: flex;
  justify-content: flex-start;
  text-align: left;
}

.align-right {
  display: flex;
  justify-content: flex-end;
  text-align: right;
}
